.app {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 50px;
  margin-top: 25px;
  width: 90%;
}

li.sketchbook-item {
  margin: 10px 5px 0 2px;
  padding: 4px;
  width: 10%;
  opacity: 0.8;
}

li.active {
  background-color: #fed;
  opacity: 1.0;
}

li.sketchbook-item p {
  margin-top: 5px;
  font-size: 13px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.sketchbook-list a {
  text-decoration: none;
  color: gray;
}

.sketchbook-list a :hover {
  text-decoration: underline;
}

.footer {
  color: #bbb;
  font-size: 14px;
  letter-spacing: 1.5px;
}
