.app {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sketchbook-preview {
  margin-top: 40px;
}

.sketchbook-list-container {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -25px;
  margin-top: 25px;
  width: 100%;
}

li.sketchbook-item {
  margin: 0 20px 6px 2px;
  padding: 5px;
  opacity: 0.0;
  animation: fade 2s ease 0.1s 1 forwards;
}

li.active {
  background-color: #fed;
  opacity: 1.0;
}

li.sketchbook-item p {
  margin-top: 5px;
  font-size: 13px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: gray;
}

a :hover {
  text-decoration: underline;
}

.footer {
  color: #bbb;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin: 50px 0 20px 0;
}

.footer a {
  color: #bbb;
}

@keyframes fade {
  from {opacity: 0.0;}
  to {opacity: 0.8;}
}

@keyframes opaque {
  from {opacity: 0.5;}
  to {opacity: 1.0;}
}
